<form action="/api/login" method="post">
Email: <input type="text" name="email" id="email">
Password: <input type="password" name="password" id="password">
<button onclick="location.href='/api/login'" > LOGIN </button>
</form>
