<form action="/api/users/singup" method="post">
First Name: <input type="text" name="first_name" id="first_name">
Last Name: <input type="text" name="last_name" id="last_name">
Age: <input type="number" name="age" id="age" />
email: <input type="text" name="email" id="email">
Username: <input type="text" name="username" id="username">
Password: <input type="password" name="password" id="password">
<input type="submit" value="SINGUP">
</form>

<button onclick="location.href='/api/users/githubSignup'">GITHUB</button>
